h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  line-height: 1.5;
}

code {
  color: red;
  background: RGBA(0, 0, 0, 0.2);
  padding: 0.2rem;
}

article a {
  color: #FFBF00;
  text-decoration: underline;
}
